body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
#root {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.app {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    overflow: hidden;
    padding: 20px;
}
  
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 2px solid #eee;
    margin-bottom: 20px;
}
  
.title {
    font-size: 24px;
    color: #333;
    padding: 10px;
}
  
.score {
    font-size: 18px;
    color: #555;
    padding: 10px
}
  
.pokemons-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
}
  
.pokemon {
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
    transition: transform 0.3s;
    cursor: pointer;
}
  
.pokemon:hover {
    transform: translateY(-10px);
}
  
.pokemon img {
    max-width: 100%;
    height: auto;
}
  
.pokemon span {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}